[submodule "data"]
	path = data
	url = https://github.com/quanttide/quanttide-specification-of-data-engineering.git
[submodule "strategy"]
	path = strategy
	url = https://github.com/quanttide/quanttide-specification-of-strategic-management.git
